github "Thomvis/BrightFutures"
github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage"
github "bitstadium/HockeySDK-iOS"
github "hodinkee/iris"
github "jflinter/Dwifft"
github "SwiftBond/Bond"
github "jflinter/PaintBucket"
github "segmentio/analytics-ios"
github "jflinter/OneSignal-iOS-SDK"
