github "Thomvis/BrightFutures"
github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage"
github "bitstadium/HockeySDK-iOS"
github "hodinkee/iris"
github "jflinter/Dwifft"
github "SwiftBond/Bond"
github "stripe-ios/stripe-ios" "d8350424d2b6a0ed7cde3099b348200f44a37044"
github "jflinter/PaintBucket" "1904b73005cdc8677bb060ab7538177caad437dd"
github "soffes/SSKeychain"
