github "Thomvis/BrightFutures"
github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage"
github "bitstadium/HockeySDK-iOS"
github "hodinkee/iris"
github "jflinter/Dwifft"
github "SwiftBond/Bond"
github "stripe/stripe-ios"
github "jflinter/PaintBucket" "1904b73005cdc8677bb060ab7538177caad437dd"
github "hyperoslo/Hue"
github "jflinter/AGGeometryKit" "95aaca17351637b3c0e868db7e46ae48a35abb87"
github "facebook/pop"